@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@600&display=swap');


* {
    margin: 0px;
    padding: 0px;
}

:root {
    --darkBlue: #042256;
    --white: #FFFFFF;
    --grayishWhite: #eceaea;
    --lightBlue: #CBEDF6;
    --blueSteel: #3D78A5;
    --gray: #A6A6A6;
    --leagueSpartan:'League Spartan', sans-serif;
    --openSans: 'League Spartan', sans-serif;
}

body {
    background: var(--darkBlue);
}

.formContainer {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form {
    width: 500px;
    height: 450px;
    background: var(--grayishWhite);
    display: flex;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
    border-radius: 10px;
    margin: auto;
    align-items: center;
}

.emailContainer,
.passwordContainer {
    height: 50px;
    margin: 15px;
    padding: 10px;
    font-size: 20px;
    border: none;
    border-radius: 15px;
    background: rgba(245, 245, 245, 0);
    outline: none;
    font-family: var(--openSans);
    box-shadow: 1px 7px 17px 2px rgb(20 20 20 / 15%);
}

.emailContainer:hover,
.passwordContainer:hover {
    background: var(--lightBlue);
}

input::placeholder {
    color: rgb(0, 0, 0);
}

.button {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.buttonSubmit {
    width: 250px;
    height: 50px;
    margin: 30px;
    border-radius: 10px;
    background: var(--darkBlue);
    color: var(--white);
    font-family: var(--openSans);
}

.startText {
    text-align: center;
    font-size: 45px;
    margin: 15px;
    font-family: var(--leagueSpartan)
}